<template>
  <div>
    <h1>{{ category.title }}</h1>
    <!-- тут локально беру -->
    <BasePay v-for="pay in category.pays" :key="pay.id" :pay="pay" />
    <BaseForm is-login />
    <!-- тут вывел из стора -->
    <p>{{ paysStore.pays }}</p>
  </div>
</template>

<script lang="ts" setup>
const category: app.Category = {
  id: 1,
  title: 'Фрукты',
  pays: [
    { id: 1, name: 'Ананас', price: 150 },
    { id: 2, name: 'Манго', price: 2000 },
  ],
}

// начинай вводить usePay... у тебя автоматом подставится должно - именно так
// все пиши вручную не копируй увидишь подсказкиы
const paysStore = usePaysStore()

// чтобы менять не нужны уже мутации, меняй напрямую в сторе authStore.aaa = false
</script>
