<template>
  <div>
    <input type="text" />
    <button>{{ isLogin ? 'Авторазация' : 'Зарегистрироваться' }}</button>
  </div>
</template>

<script setup lang="ts">
// так задаются пропсы
defineProps({ isLogin: Boolean })
</script>
