<template>
  <div>
    <div>{{ pay.name }}</div>
    <div>{{ pay.price }}</div>
    <!-- пиши вручную увидь подсазки -->
  </div>
</template>

<script setup lang="ts">
// в пропс кинул прям тип из app.d.ts
defineProps<{ pay: app.Pay }>()
</script>
